<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.bsu.goals"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
    <activity android:name=".activity.LauncherActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditGoalActivity"
                  android:label="Create goal"
                  android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity android:name=".activity.GoalInfoActivity"
                  android:label="Goal info"
                  android:theme="@style/Theme.AppCompat.Light">
        </activity>
    </application>
</manifest>
